<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="llplugin_exe" Guid="{ECD05498-BD41-4825-B44F-73F23C72B893}" >
		<File Id="slplugin_exe" Source="$(var.PLUGIN_SOURCEDIR)\slplugin.exe" />
		<File Id="slplugin_manifest" Source="$(var.PLUGIN_SOURCEDIR)\slplugin.exe.manifest" />
       </Component>
       <Directory Id="llplugin_dir" Name="llplugin">
         <Component Id="llplugin_libs" Guid="{EAA97644-8CAC-43B5-A4C3-2FCBF35C58F4}" >
		   <File Id="llplugin_cef_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\cef.pak" />
		   <File Id="llplugin_cef_100_percent_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\cef_100_percent.pak" />
		   <File Id="llplugin_cef_200_percent_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\cef_200_percent.pak" />
		   <File Id="llplugin_cef_extensions_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\cef_extensions.pak" />
		   <File Id="llplugin_d3dcompiler_43_dll" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\d3dcompiler_43.dll" />
		   <File Id="llplugin_d3dcompiler_47_dll" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\d3dcompiler_47.dll" />
		   <File Id="llplugin_devtools_resources_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\devtools_resources.pak" />
		   <File Id="llplugin_icudtl_dat" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\icudtl.dat" />
		   <File Id="llplugin_libcef_dll" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\libcef.dll" />
		   <File Id="llplugin_libEGL_dll" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\libEGL.dll" />
		   <File Id="llplugin_libGLESv2_dll" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\libGLESv2.dll" />
		   <File Id="llplugin_llceflib_host_exe" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\llceflib_host.exe" />
		   <File Id="llplugin_llceflib_host_manifest" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\llceflib_host.exe.manifest" />
		   <File Id="llplugin_media_plugin_cef_dll" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\media_plugin_cef.dll" />
		   <!-- <File Id="llplugin_media_plugin_quicktime_dll" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\media_plugin_quicktime.dll" /> -->
		   <File Id="llplugin_media_plugin_gstreamer10_dll" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\media_plugin_gstreamer10.dll" />
		   <File Id="llplugin_msvcp120_dll" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\msvcp120.dll" />
		   <File Id="llplugin_msvcr120_dll" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\msvcr120.dll" />
		   <File Id="llplugin_natives_blob_bin" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\natives_blob.bin" />
		   <File Id="llplugin_snapshot_blob_bin" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\snapshot_blob.bin" />
		   <File Id="llplugin_widevinecdmadapter_dll" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\widevinecdmadapter.dll" />
		   <File Id="llplugin_wow_helper_exe" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\wow_helper.exe" />
         </Component>
         <Directory Id="llplugin_dir_locales" Name="locales">
           <Component Id="llplugin_dir_locales" Guid="{B90686EA-190B-4017-9BC1-6B345A8F3062}" >
			 <File Id="llplugin_locales_am_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\am.pak" />
			 <File Id="llplugin_locales_ar_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\ar.pak" />
			 <File Id="llplugin_locales_bg_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\bg.pak" />
			 <File Id="llplugin_locales_bn_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\bn.pak" />
			 <File Id="llplugin_locales_ca_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\ca.pak" />
			 <File Id="llplugin_locales_cs_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\cs.pak" />
			 <File Id="llplugin_locales_da_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\da.pak" />
			 <File Id="llplugin_locales_de_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\de.pak" />
			 <File Id="llplugin_locales_el_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\el.pak" />
			 <File Id="llplugin_locales_en_GB_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\en-GB.pak" />
			 <File Id="llplugin_locales_en_US_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\en-US.pak" />
			 <File Id="llplugin_locales_es_419_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\es-419.pak" />
			 <File Id="llplugin_locales_es_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\es.pak" />
			 <File Id="llplugin_locales_et_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\et.pak" />
			 <File Id="llplugin_locales_fa_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\fa.pak" />
			 <File Id="llplugin_locales_fi_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\fi.pak" />
			 <File Id="llplugin_locales_fil_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\fil.pak" />
			 <File Id="llplugin_locales_fr_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\fr.pak" />
			 <File Id="llplugin_locales_gu_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\gu.pak" />
			 <File Id="llplugin_locales_he_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\he.pak" />
			 <File Id="llplugin_locales_hi_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\hi.pak" />
			 <File Id="llplugin_locales_hr_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\hr.pak" />
			 <File Id="llplugin_locales_hu_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\hu.pak" />
			 <File Id="llplugin_locales_id_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\id.pak" />
			 <File Id="llplugin_locales_it_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\it.pak" />
			 <File Id="llplugin_locales_ja_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\ja.pak" />
			 <File Id="llplugin_locales_kn_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\kn.pak" />
			 <File Id="llplugin_locales_ko_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\ko.pak" />
			 <File Id="llplugin_locales_lt_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\lt.pak" />
			 <File Id="llplugin_locales_lv_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\lv.pak" />
			 <File Id="llplugin_locales_ml_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\ml.pak" />
			 <File Id="llplugin_locales_mr_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\mr.pak" />
			 <File Id="llplugin_locales_ms_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\ms.pak" />
			 <File Id="llplugin_locales_nb_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\nb.pak" />
			 <File Id="llplugin_locales_nl_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\nl.pak" />
			 <File Id="llplugin_locales_pl_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\pl.pak" />
			 <File Id="llplugin_locales_pt_BR_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\pt-BR.pak" />
			 <File Id="llplugin_locales_pt_PT_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\pt-PT.pak" />
			 <File Id="llplugin_locales_ro_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\ro.pak" />
			 <File Id="llplugin_locales_ru_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\ru.pak" />
			 <File Id="llplugin_locales_sk_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\sk.pak" />
			 <File Id="llplugin_locales_sl_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\sl.pak" />
			 <File Id="llplugin_locales_sr_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\sr.pak" />
			 <File Id="llplugin_locales_sv_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\sv.pak" />
			 <File Id="llplugin_locales_sw_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\sw.pak" />
			 <File Id="llplugin_locales_ta_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\ta.pak" />
			 <File Id="llplugin_locales_te_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\te.pak" />
			 <File Id="llplugin_locales_th_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\th.pak" />
			 <File Id="llplugin_locales_tr_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\tr.pak" />
			 <File Id="llplugin_locales_uk_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\uk.pak" />
			 <File Id="llplugin_locales_vi_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\vi.pak" />
			 <File Id="llplugin_locales_zh_CN_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\zh-CN.pak" />
			 <File Id="llplugin_locales_zh_TW_pak" Source="$(var.PLUGIN_SOURCEDIR)\llplugin\locales\zh-TW.pak" />
		   </Component>
         </Directory>
       </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
