<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="Firestorm_Registy" Guid="{5FBA603E-41DD-4efa-BF10-E44F485D7112}">
        <RegistryKey Root="HKLM" Key="Software\ThePhoenixFirestormProject\$(var.PROGRAM_NAME)">
          <RegistryValue Type="string" Value="[INSTALLDIR]"/>
          <RegistryValue Type="string" Name="Flags" Value="--channel $(var.CHANNEL_NAME) --settings $(var.SETTINGS_FILE)"/>
          <RegistryValue Type="string" Name="Version" Value="$(var.PROGRAM_VERSION)"/>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="secondlife">
          <RegistryValue Type="string" Value="URL:Second Life"/>
          <RegistryValue Type="string" Name="URL Protocol" Value=""/>
          <RegistryKey Key="DefaultIcon">
            <RegistryValue Type="string" Value="[INSTALLDIR]\$(var.PROGRAM_FILE)"/>
          </RegistryKey>
          <RegistryKey Key="shell">
            <RegistryKey Key="open">
              <RegistryKey Key="command">
                <RegistryValue Type="expandable" Value="[INSTALLDIR]\$(var.PROGRAM_FILE) --channel $(var.CHANNEL_NAME) --settings $(var.SETTINGS_FILE) --url &quot;&#37;1&quot;"/>
              </RegistryKey>
            </RegistryKey>
          </RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="x-grid-location-info">
          <RegistryValue Type="string" Value="URL:Second Life"/>
          <RegistryValue Type="string" Name="URL Protocol" Value=""/>
          <RegistryKey Key="DefaultIcon">
            <RegistryValue Type="string" Value="[INSTALLDIR]\$(var.PROGRAM_FILE)"/>
          </RegistryKey>
          <RegistryKey Key="shell">
            <RegistryKey Key="open">
              <RegistryKey Key="command">
                <RegistryValue Type="expandable" Value="[INSTALLDIR]\$(var.PROGRAM_FILE) --channel $(var.CHANNEL_NAME) --settings $(var.SETTINGS_FILE) --url &quot;&#37;1&quot;"/>
              </RegistryKey>
            </RegistryKey>
          </RegistryKey>
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>