*          text=auto

# Sources
*.cpp      text diff=cpp
*.h        text diff=cpp
*.py       text diff=python
indra/newview/llimprocessing.cpp -text

# Documents
*.txt      text
*.xml      text
indra/tools/vstool/README.txt -text
indra/newview/installers/windows/FILES_ARE_UNICODE_UTF-16LE.txt -text

# Graphics
*.png      binary diff=exif
*.jpg      binary diff=exif
*.jpeg     binary diff=exif
*.gif      binary diff=exif
*.tif      binary
*.tiff     binary
*.ico      binary
*.svg      text
*.eps      binary

# Scripts
*.sh       text eol=lf
*.bat      text eol=crlf

# Exclude files from exporting
.gitattributes export-ignore
.gitignore     export-ignore
