* text eol=lf

# VSTool
indra/tools/vstool/* -text

# Images
*.bmp binary
*.BMP binary
*.gif binary
*.icns binary
*.ico binary
*.j2c binary
*.j2k binary
*.jpg binary
*.png binary
*.tga binary
*.tif binary

# Viewer resources
*.db2 binary
*.llm binary
*.ttf binary
*.nib binary

# Executables
*.dll binary
*.exe binary

# Normalization disabled
VivoxAUP.txt -text
FILES_ARE_UNICODE_UTF-16LE.txt -text

# Windows Manifest files
*.manifest text eol=crlf
