[Desktop Entry]
Type=Application
Name=AyaneStorm
Exec=firestorm
Comment=Client for virtual worlds
Icon=ayanestorm_icon
Categories=Development;
Terminal=true
