[Desktop Entry]
Type=Application
Name=Firestorm
Exec=firestorm
Comment=Client for virtual worlds
Icon=soapstorm_icon
Categories=Development;
Terminal=true
